body {
  animation: colorchange 5000s infinite;
  text-allign : center; 
   margin-top: 80px;
}
.center {
    border-radius: 50%;
    border:2px solid Ivory;
    border-width: 5px;
     display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
	border-radius: 50%;
}
.fb{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}
@keyframes colorchange
{
  0%   {background: DodgerBlue;}
  15%  {background: Aqua;}
  30%  {background: Yellow;}
  45%  {background: Gold;}
  60%  {background: Plum;}
  75%   {background: Yellow;}
  90%  {background: Lightgreen;}
  100%  {background: DodgerBlue;}
  
}
h1 , h2 {
text-align: center;
color: Ivory;
text-shadow: 1px 1px Black;
}
